{
  "presets": ["next/babel"],
  "plugins": [
    "macros",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./"
        }
      }
    ],
    [
      "styled-components",
      {
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
